@import "./util.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  color: $text-color;
}

html {
  background-color: $background-color;
  display: flex;
  justify-content: center;
}

body {
  width: clamp(0px, 100%, 960px);
}

a {
  text-decoration: none;
}
