@import "./global.scss";

.root-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: $content-inset-lg;

  .header {
    margin-bottom: $spacing-lg;

    h1 {
      color: $primary-color;
      width: 100%;
      font-weight: 700;
      margin-bottom: $spacing-sm;
    }

    @media (max-width: $breakpoint-tablet) {
      margin-bottom: $spacing-md;

      h1 {
        margin-bottom: 0;
      }
    }
  }

  @media (max-width: $breakpoint-tablet) {
    padding: $content-inset-md;
  }

  @media (max-width: $breakpoint-mobile) {
    padding: $content-inset-sm;
  }
}
