// Colours
$primary-color: #dc4c9a;
$background-color: #181818;
$text-color: #fff;

// Spacing
$spacing-sm: 5px;
$spacing-md: 15px;
$spacing-lg: 30px;

$content-inset-lg: 60px;

// Border radius
$border-radius: 5px;
